@model Globe_Wander_Final.Models.ViewModels.TourViewModel



       <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
<link href="~/fonts/flaticon.css" rel="stylesheet" type="text/css">   
  <section class="banner banner1">

        <div class="slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-inner">
                        <div class="slide-image" style="background-image:url(https://assets.wego.com/image/upload/c_fill,fl_lossy,q_auto:best,f_auto,w_2560/v1597920831/web/hero_images/jo_1.jpg)"></div>
                           <div class="swiper-content swi-content">
                                <h1>Make you Free to <span>travel</span> with us</h1>
                                <p class="mar-bottom-30">Foresee the pain and trouble that are bound to ensue and equal fail in their duty through weakness. </p>
                                <a href="" class="biz-btn">Explore More</a>
                                <a href="" class="biz-btn mar-left-10">Contact Us</a>
                            </div> 
                            <div class="overlay"></div>
                        </div> 
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-inner">
                        <div class="slide-image" style="background-image:url(https://wallpaperaccess.com/full/1124780.jpg)"></div>
                           <div class="swiper-content swi-content">
                                <h1><span>Sensation Ice Trip</span> Is Coming For Kids</h1>
                                <p class="mar-bottom-30">Find awesome hotel, tour, car and activities in London</p>
                                <a href="" class="biz-btn">Find More</a>
                            </div> 
                            <div class="overlay"></div>
                        </div> 
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-inner">
                        <div class="slide-image" style="background-image:url(https://wallpaperaccess.com/full/3635798.jpg)"></div>
                           <div class="swiper-content swi-content">
                                <h1>Your <span>Adventure</span> Travel Experts In Europe!</h1>
                                <p class="mar-bottom-30">Find awesome hotel, tour, car and activities in London</p>
                                <a href="" class="biz-btn">View More</a>
                            </div> 
                            <div class="overlay"></div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner ends -->

    <!-- form starts -->
<section class="banner-form form-style2">
    <div class="container">
        <div class="form-content">
            <div class="price-navtab text-center">
                <ul class="nav nav-tabs" style="margin-bottom: 10px;">
                    <li style="display: inline-block; margin-right: -4px;">
                        <a data-toggle="tab" href="#hotel" aria-expanded="false" style="padding: 10px 20px; font-size: 20px;">
                            <i class="flaticon-building"></i> Hotel
                        </a>
                    </li>
                    <li style="display: inline-block; margin-right: -4px;">
                        <a data-toggle="tab" href="#tour" aria-expanded="false" style="padding: 10px 20px; font-size: 20px;">
                            <i class="flaticon-global"></i> Trip
                        </a>
                    </li>
                </ul>
            </div>


            <div class="tab-content">
                <div id="hotel" class="tab-pane active">
                    <div class="row filter-box">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Your Destination</label>
                                <div class="input-box">
                                    <i class="flaticon-placeholder"></i>
                                    <select class="niceSelect" style="display: none;">
                                        <option value="1">Where are you going?</option>
                                        <option value="2">Argentina</option>
                                        <option value="3">Belgium</option>
                                        <option value="4">Canada</option>
                                        <option value="5">Denmark</option>
                                    </select><div class="nice-select niceSelect" tabindex="0"><span class="current">Where are you going?</span><ul class="list"><li data-value="1" class="option selected">Where are you going?</li><li data-value="2" class="option">Argentina</li><li data-value="3" class="option">Belgium</li><li data-value="4" class="option">Canada</li><li data-value="5" class="option">Denmark</li></ul></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Reserved Date</label>
                                <div class="input-box">
                                    <i class="flaticon-calendar"></i>
                                    <input id="date-range0" type="text" placeholder="yyyy-mm-dd">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Hotel Types</label>
                                <div class="input-box">
                                    <i class="flaticon-add-user"></i>
                                    <select class="niceSelect" style="display: none;">
                                        <option value="1">High Class</option>
                                        <option value="2">Middle Class</option>
                                        <option value="3">Low Class</option>
                                    </select><div class="nice-select niceSelect" tabindex="0"><span class="current">High Class</span><ul class="list"><li data-value="1" class="option selected">High Class</li><li data-value="2" class="option">Middle Class</li><li data-value="3" class="option">Low Class</li></ul></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Person</label>
                                <div class="input-box">
                                    <i class="flaticon-add-user"></i>
                                    <select class="niceSelect" style="display: none;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select><div class="nice-select niceSelect" tabindex="0"><span class="current">1</span><ul class="list"><li data-value="1" class="option selected">1</li><li data-value="2" class="option">2</li><li data-value="3" class="option">3</li><li data-value="4" class="option">4</li><li data-value="5" class="option">5</li></ul></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group mar-0">
                                <a href="#" class="biz-btn"><i class="fa fa-search"></i> Find Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tour" class="tab-pane">
                    <div class="row filter-box">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Your Destination</label>
                                <div class="input-box">
                                    <i class="flaticon-placeholder"></i>
                                    <select class="niceSelect" style="display: none;">
                                        <option value="1">Where are you going?</option>
                                        <option value="2">Argentina</option>
                                        <option value="3">Belgium</option>
                                        <option value="4">Canada</option>
                                        <option value="5">Denmark</option>
                                    </select><div class="nice-select niceSelect" tabindex="0"><span class="current">Where are you going?</span><ul class="list"><li data-value="1" class="option selected">Where are you going?</li><li data-value="2" class="option">Argentina</li><li data-value="3" class="option">Belgium</li><li data-value="4" class="option">Canada</li><li data-value="5" class="option">Denmark</li></ul></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Check In</label>
                                <div class="input-box">
                                    <i class="flaticon-calendar"></i>
                                    <input id="date-range0" type="text" placeholder="yyyy-mm-dd">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Check Out</label>
                                <div class="input-box">
                                    <i class="flaticon-calendar"></i>
                                    <input id="date-range1" type="text" placeholder="yyyy-mm-dd">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Adult</label>
                                <div class="input-box">
                                    <i class="flaticon-add-user"></i>
                                    <select class="niceSelect" style="display: none;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select><div class="nice-select niceSelect" tabindex="0"><span class="current">1</span><ul class="list"><li data-value="1" class="option selected">1</li><li data-value="2" class="option">2</li><li data-value="3" class="option">3</li><li data-value="4" class="option">4</li><li data-value="5" class="option">5</li></ul></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Children</label>
                                <div class="input-box">
                                    <i class="flaticon-add-user"></i>
                                    <select class="niceSelect" style="display: none;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select><div class="nice-select niceSelect" tabindex="0"><span class="current">1</span><ul class="list"><li data-value="1" class="option selected">1</li><li data-value="2" class="option">2</li><li data-value="3" class="option">3</li><li data-value="4" class="option">4</li><li data-value="5" class="option">5</li></ul></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group mar-0">
                                <a href="#" class="biz-btn"><i class="fa fa-search"></i> Find Now</a>
                            </div>
                        </div>
                    </div>
                </div>
  
       
             
            </div>
        </div>
    </div>
</section>
    <!-- form ends -->

  

     <!-- why us about starts -->
    <section class="why-us pad-top-80 bg-grey">
        <div class="container">
        <div class="why-us-about">
            <div class="row display-flex justify-content-center">
                    <div class="col-md-6 col-xs-12">
                        <div class="why-about-inner">
                            <h2>We Provide <span>Best Services</span></h2>
                            <h4>Amazing Places To Enjony Your Travel</h4>
                        <p class="mar-bottom-25 ">Aliquam erat volutpat. Curabitur tempor nibh quis arcu convallis, sed viverra quam sollicitudin. Proin sed augue sed neque ultricies condimentum. In ac ultrices lectus.<br> Nullam ex elit, vestibulum ut urna non, tincidunt condimentum sem. Sed enim tortor, accumsan at consequat et, tempus sit ame</p>
                        
                        </div>
                    </div>
            
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="why-us-item why-us-item1 text-center">
                                <div class="why-us-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4>Advice & Support</h4>
                                    <p class="mar-0">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="why-us-item why-us-item1 text-center">
                                <div class="why-us-icon">
                                    <i class="flaticon-building"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4>Hotel Accomodation</h4>
                                    <p class="mar-0">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="why-us-item why-us-item1 text-center">
                                <div class="why-us-icon">
                                    <i class="flaticon-location-pin"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4>Tour Peckages</h4>
                                    <p class="mar-0">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    <!-- why us about ends -->

    <!-- top destination starts -->
    <section class="top-destinations top-desti2">
        <div class="container">
            <div class="section-title">
                <h2>Top <span>Destinations</span></h2>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
            <div class="content">
            <div class="row">
                @for (int i = 0; i < Math.Min(Model.TourSpots.Count, 3); i++)
                {
                    var tour = Model.TourSpots[i];
                    <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">
                        <div class="td-item td-item">
                            @if (tour != null && tour.Img != null)
                            {
                                <div class="td-image">
                                    <img src="@tour.Img" alt="image" height="300px">
                                </div>
                            }
                            <p class="price white">From <span>$350.00</span></p>
                            <div class="td-content">
                                <h3><i class="fa fa-map-marker-alt"></i> @tour.Name</h3>
                                <p class="white">@tour.Description</p>
                                <a href="#" class="biz-btn">Book Now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

           
            </div>
        </div>
    </section>
    <!-- top destination ends -->

    <!-- Trending Starts -->
    <section class="trending trending1">
        <div class="container">
            <div class="trend-box">
                    <div class="row display-flex">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="section-title">
                                <h2>Top <span>Vaccation</span> Idea</h2>
                                <p class="mar-bottom-25">Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                <a href="#" class="biz-btn">View Details</a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="row review-slider">
                            @foreach(var item in Model.TourSpots){ 
                                <div class="col-md-4">
                                    <div class="trend-item">
                                        <div class="ribbon ribbon-top-left"><span>25% OFF</span></div>
                                        <div class="trend-image">
                                            <a asp-action="GetSpotById" asp-controller="TourSpots" asp-route-spotId="@item.ID">
                                    <img src="@item.Img" alt="image" width="300px" height="300px">
                                    </a>
                                            <div class="trend-tags">
                                                <a href="#"><i class="flaticon-like"></i></a>
                                            </div>
                                            <div class="trend-price">
                                                <p class="price">From <span>$350.00</span></p>
                                            </div>
                                        </div>
                                        <div class="trend-content">
                                            <p><i class="flaticon-location-pin"></i>@item.Name</p>
                                        <p ><i class="fa fa-clock-o" aria-hidden="true"></i> @item.Country</p>
                                            <p>Tour Type: @item.Category</p>
                                        <h4>
                                            <a asp-action="GetSpotById" asp-controller="TourSpots" asp-route-spotId="@item.ID"><i class="fa fa-link"></i> @item.Description  </a>
                                        
                                    </h4>
                                    @foreach(var trip in item.Trips){
                                      
                                            int sum = 0;
                                            int avg = 0;
                                       
                                        @foreach (var rate in trip.Rates)
                                        {
                                            sum = sum + rate.Rating;

                                        }

                                       
                                            if (trip.Rates.Count != 0)
                                                avg = sum / trip.Rates.Count;

                                      
                                        @if (avg > 0)
                                        {
                                            <span class="mar-left-5">@avg</span>
                                        }
                                        else
                                        {
                                            <span class="mar-left-5">Not Rated</span>
                                        }
                                           
                                           }

                                        </div>
                                    </div>
                                </div>
                            }
                            </div>    
                        </div>
                    </div>
            </div>    
        </div>
    </section>
    <!-- Trending Ends -->

    <!-- top deal starts -->
    <section class="top-deals">
        <div class="container">
            <div class="row display-flex">
                <div class="col-md-8 col-xs-12">
                    <div class="section-title title-full width100">
                        <h2>Today's Top <span>Deals</span></h2>
                        <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <a href="#" class="biz-btn biz-btn1 pull-right"> Get More Deals</a>
                </div>
            </div>
            <div class="top-deal-main">
                <div class="row">
                   
                   @foreach(var trip in Model.Trips.Take(3)){

                    <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">    
                        <div class="slider-item">
                          @foreach(var tripImg in trip.TripImages.Take(1)){
                            <div class="slider-image">
                            <img src="@tripImg.Path" alt="image">
                            </div>
                          }
                            <div class="slider-content">
                                <h6 class="mar-bottom-10"><i class="fa fa-map-marker-alt"></i>@trip.Name</h6>
                                <h4 class="mar-bottom-15"@trip.Description></h4>
                                <div class="rate-rev mar-bottom-20">
                                    <span class="num-rating mar-right-5">@trip.Count Of @trip.Capacity</span>
                                   @foreach(var tripRate in trip.Rates){
                                    <span class="review">@tripRate.Rating</span>
                                   }
                                </div>  
                                <p>@trip.Description</p>
                                <div class="deal-price">
                                    <p class="price">From <span>$@trip.Cost</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                   }
                 @foreach(var hotel in Model.recomandedHotels.Take(3)){
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="slider-item">
                @foreach(var hotelImg in hotel.HotelImages.Take(1)){
                            <div class="slider-image">
                            <img src="@hotelImg.Path" alt="image">
                            </div>
             }

                            <div class="slider-content">
                                <h6 class="mar-bottom-10"><i class="fa fa-map-marker-alt"></i> @hotel.Location</h6>
                                <h4 class="mar-bottom-15">@hotel.Name</h4>
                                <div class="rate-rev mar-bottom-20">
                                    <span class="num-rating mar-right-5">@hotel.StarRate /5</span>
                                    <span class="review">(166 reviews)</span>
                                </div>  
                                <p>@hotel.Description</p>
                                @foreach(var price in hotel.HotelRoom.Take(1)){
                                <div class="deal-price">
                                    <p class="price">From <span>$@price.PricePerDay</span></p>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                  
                </div>    

            </div>
        </div>
    </section>
    <!-- top deal ends -->

    <!-- Reviews starts-->
    <section class="home-testimonial bg-grey">
        <div class="container">
            <div class="section-title">
                <h2>Our Happy Costumers</h2>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
            <div class="row testimonial-slider">
                <div class="ts-item col-md-4">
                    <div class="ts-image">
                        <img src="images/inbox1.jpg" alt="image">
                    </div>
                    <div class="ts-content">
                        <h4 class="mar-bottom-5">John Doe</h4>
                        <p class="mar-bottom-5"> CEO/Mario Brand</p>
                        <ul class="list-inline">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="content mar-0">This is the third time I've used Travelo Website and telling you the truth their services are always reliable and it ony takes few minutes to plan and finalize.</p>
                        <div class="ts-icon">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="ts-item col-md-4">
                    <div class="ts-image">
                        <img src="images/inbox4.jpg" alt="image">
                    </div>
                    <div class="ts-content">
                        <h4 class="mar-bottom-5">John Doe</h4>
                        <p class="mar-bottom-5"> CEO/Mario Brand</p>
                        <ul class="list-inline">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="content mar-0">This is the third time I've used Travelo Website and telling you the truth their services are always reliable and it ony takes few minutes to plan and finalize.</p>
                        <div class="ts-icon">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="ts-item col-md-4">
                    <div class="ts-image">
                        <img src="images/inbox3.jpg" alt="image">
                    </div>
                    <div class="ts-content">
                        <h4 class="mar-bottom-5">John Doe</h4>
                        <p class="mar-bottom-5"> CEO/Mario Brand</p>
                        <ul class="list-inline">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="content mar-0">This is the third time I've used Travelo Website and telling you the truth their services are always reliable and it ony takes few minutes to plan and finalize.</p>
                        <div class="ts-icon">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="ts-item col-md-4">
                    <div class="ts-image">
                        <img src="images/inbox2.jpg" alt="image">
                    </div>
                    <div class="ts-content">
                        <h4 class="mar-bottom-5">John Doe</h4>
                        <p class="mar-bottom-5"> CEO/Mario Brand</p>
                        <ul class="list-inline">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="content mar-0">This is the third time I've used Travelo Website and telling you the truth their services are always reliable and it ony takes few minutes to plan and finalize.</p>
                        <div class="ts-icon">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="ts-item col-md-4">
                    <div class="ts-image">
                        <img src="images/inbox1.jpg" alt="image">
                    </div>
                    <div class="ts-content">
                        <h4 class="mar-bottom-5">John Doe</h4>
                        <p class="mar-bottom-5"> CEO/Mario Brand</p>
                        <ul class="list-inline">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="content mar-0">This is the third time I've used Travelo Website and telling you the truth their services are always reliable and it ony takes few minutes to plan and finalize.</p>
                        <div class="ts-icon">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Reviews -->



<script src="~/js/plugin.js"></script> 
 <script src="~/js/main.js"></script>
