@model Globe_Wander_Final.Models.ViewModels.TourViewModel



       <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
<link href="~/fonts/flaticon.css" rel="stylesheet" type="text/css">   
  <section class="banner banner1">

        <div class="slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-inner">
                        <div class="slide-image" style="background-image:url(https://assets.wego.com/image/upload/c_fill,fl_lossy,q_auto:best,f_auto,w_2560/v1597920831/web/hero_images/jo_1.jpg)"></div>
                           <div class="swiper-content swi-content">
                            <h1>Find Your Adventure, Book Your Stay</h1>
                                
                            </div> 
                            <div class="overlay"></div>
                        </div> 
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-inner">
                        <div class="slide-image" style="background-image:url(https://wallpaperaccess.com/full/1124780.jpg)"></div>
                           <div class="swiper-content swi-content">
                            <h1>Travel the World, One Click Away</h1>
                                
                            </div> 
                            <div class="overlay"></div>
                        </div> 
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-inner">
                        <div class="slide-image" style="background-image:url(https://wallpaperaccess.com/full/3635798.jpg)"></div>
                           <div class="swiper-content swi-content">
                            <h1>Discover, Book, and Wander</h1>
                                
                            </div> 
                            <div class="overlay"></div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner ends -->

    <!-- form starts -->
@* <section class="banner-form form-style2">
    <div class="container">
        <div class="form-content">
            <div class="price-navtab text-center">
                <ul class="nav nav-tabs" style="margin-bottom: 10px;">
                    <li style="display: inline-block; margin-right: -4px;">
                        <a data-toggle="tab" href="#hotel" aria-expanded="false" style="padding: 10px 20px; font-size: 20px;">
                            <i class="flaticon-building"></i> Hotel
                        </a>
                    </li>
                    <li style="display: inline-block; margin-right: -4px;">
                        <a data-toggle="tab" href="#tour" aria-expanded="false" style="padding: 10px 20px; font-size: 20px;">
                            <i class="flaticon-global"></i> Trip
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div id="hotel" class="tab-pane active">
                    <div class="row filter-box">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Your Destination</label>
                                <div class="input-box">
                                    <i class="flaticon-placeholder"></i>
                                    <select asp-for="TourSpots" class="niceSelect" style="display: none;">
                                        <option value="">Where are you going?</option>
                                        @foreach (var tour in Model.TourSpots)
                                        {
                                            <option value="@tour.ID">@tour.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 mt-5">
                            <div class="form-group mar-0">
                                <a href="#" class="biz-btn" id="hotelSearchButton"><i class="fa fa-search"></i> Find Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tour" class="tab-pane">
                    <div class="row filter-box">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Your Destination</label>
                                <div class="input-box">
                                    <i class="flaticon-placeholder"></i>
                                    <select asp-for="TourSpots" class="niceSelect" style="display: none;">
                                        <option value="">Where are you going?</option>
                                        @foreach (var tour in Model.TourSpots)
                                        {
                                            <option value="@tour.ID">@tour.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 mt-5">
                            <div class="form-group mar-0">
                                <a href="#" class="biz-btn" id="tourSearchButton"><i class="fa fa-search"></i> Find Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 *@
    <!-- form ends -->

  

     <!-- why us about starts -->
    <section class="why-us pad-top-80 bg-grey">
        <div class="container">
        <div class="why-us-about">
            <div class="row display-flex justify-content-center">
                <div class="col-md-6 col-xs-12 mx-auto">
                    <div class="why-about-inner">
                        <h2>We Provide <span>Best Services</span></h2>
                        <h4>Amazing Places To Enjoy Your Travel</h4>
                        <p class="mar-bottom-25 ">Introducing our all-in-one service for seamless travel planning! With us, you can effortlessly book the perfect hotel, plan unforgettable trips, and reach out for any assistance you need. Find accommodations that suit your style and budget, embark on curated adventures, and get in touch with our dedicated team anytime. Say goodbye to travel hassles and hello to a worry-free getaway!</p>
                    </div>
                </div>

            
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="why-us-item why-us-item1 text-center">
                                <div class="why-us-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4>Advice & Support</h4>
                                <p class="mar-0">Have questions or need assistance? Our dedicated team is here to help! Reach out to us through our 'Contact Us' section and we'll be happy to assist you.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="why-us-item why-us-item1 text-center">
                                <div class="why-us-icon">
                                    <i class="flaticon-building"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4>Hotel Accomodation</h4>
                                <p class="mar-0">Explore a world of comfort and luxury with our seamless hotel booking service. Whether it's a cozy bed and breakfast or a lavish resort, we've got you covered.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="why-us-item why-us-item1 text-center">
                                <div class="why-us-icon">
                                    <i class="flaticon-location-pin"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4>Tour Peckages</h4>
                                <p class="mar-0">Embark on unforgettable journeys with our curated trip booking service. Discover new horizons, from breathtaking landscapes to vibrant cities, all tailored to your preferences.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    <!-- why us about ends -->

    <!-- top destination starts -->
    <section class="top-destinations top-desti2">
        <div class="container">
            <div class="section-title">
                <h2>Top <span>Destinations</span></h2>
               
            </div>
            <div class="content">
            <div class="row">
                @for (int i = 0; i < Math.Min(Model.TourSpots.Count, 3); i++)
                {
                    var tour = Model.TourSpots[i];
                    <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">
                        <div class="td-item td-item">
                            @if (tour != null && tour.Img != null)
                            {
                                <div class="td-image">
                                    <img src="@tour.Img" alt="image" height="300px">
                                </div>
                            }
                            <p class="price white">From <span>$350.00</span></p>
                            <div class="td-content">
                                <h3><i class="fa fa-map-marker-alt"></i> @tour.Name</h3>
                                <p class="white">
                                    @{
                                        string itemDescription = tour.Description; // Your original string
                                        int dotPosition = itemDescription.IndexOf('.'); // Find the position of the first dot
                                        string result = itemDescription.Substring(0, dotPosition);
                                        ;
                                    }
                                    @result
                                </p>
                                <a asp-action="GetSpotById" asp-controller="TourSpots" asp-route-spotId="@tour.ID" class="biz-btn">Book Now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

           
            </div>
        </div>
    </section>
    <!-- top destination ends -->

    <!-- Trending Starts -->
    <section class="trending trending1">
        <div class="container">
            <div class="trend-box">
                    <div class="row display-flex">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="section-title">
                                <h2>Top <span>Vaccation</span> Idea</h2>
                               
                             
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="row review-slider">
                            @foreach(var item in Model.TourSpots){ 
                               
                                <div class="col-md-4">
                                    <div class="trend-item">
                                        <div class="ribbon ribbon-top-left"><span>25% OFF</span></div>
                                        <div class="trend-image">
                                    <img src="@item.Img" alt="image" width="300px" height="300px">
                                          
                                        </div>
                                 <a asp-action="GetSpotById" asp-controller="TourSpots" asp-route-spotId="@item.ID">
                                        <div class="trend-content">
                                            <p><i class="flaticon-location-pin"></i>@item.Name</p>
                                            <p><i class="flaticon-location-pin" aria-hidden="true"></i> @item.Country</p>
                                            <p>Tour Type: @item.Category</p>
                                            <h4>
                                                @{
                                                    string itemDescription = item.Description; // Your original string
                                                    int dotPosition = itemDescription.IndexOf('.'); // Find the position of the first dot
                                                    string result = itemDescription.Substring(0, dotPosition);
                                                    ;}
                                                @result
                                        
                                    </h4>
                                    @foreach(var trip in item.Trips){
                                      
                                            int sum = 0;
                                            int avg = 0;
                                       
                                        @foreach (var rate in trip.Rates)
                                        {
                                            sum = sum + rate.Rating;

                                        }

                                       
                                            if (trip.Rates.Count != 0)
                                                avg = sum / trip.Rates.Count;

                                      
                                        @if (avg > 0)
                                        {
                                                <span class="mar-left-5">@avg</span>
                                            }
                                            else
                                            {
                                                <span class="mar-left-5">Not Rated</span>
                                                break;
                                            }
                                           
                                           }

                                        </div>
                              </a>  
                                    </div>
                                </div>
                                  
                            }
                            </div>    
                        </div>
                    </div>
            </div>    
        </div>
    </section>
    <!-- Trending Ends -->

    <!-- top deal starts -->
    <section class="top-deals">
        <div class="container">
            <div class="row display-flex">
                <div class="col-md-8 col-xs-12">
                    <div class="section-title title-full width100">
                        <h2>Today's Top <span>Deals</span></h2>
                        <p>Here you can find the top deals for hotels and trips </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <a href="#" class="biz-btn biz-btn1 pull-right"> Get More Deals</a>
                </div>
            </div>
            <div class="top-deal-main">
                <div class="row">



                @foreach (var trip in Model.Trips.Take(3))
                {

                    <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">
                        <div class="slider-item">

                            @foreach (var tripImg in trip.TripImages.Take(1))
                            {
                                <div class="slider-image">
                                    <img src="@tripImg.Path" alt="image">
                                </div>
                            }

                            <div class="slider-content">
                                <a asp-action="TripDetails" asp-controller="Trips" asp-route-id="@trip.Id">
                                <h6 class="mar-bottom-10"><i class="fa fa-map-marker-alt"></i>@trip.Name</h6>
                                <h4 class="mar-bottom-15" @trip.Description></h4>
                                <div class="rate-rev mar-bottom-20">
                                    <span ><i class="fa-solid fa-person-circle-check"></i> Reserved by: @trip.Count Of @trip.Capacity </span>
                                    @foreach (var tripRate in trip.Rates)
                                    {
                                        <span class="review">@tripRate.Rating</span>
                                    }
                                </div>
                                <p>@trip.Description</p>
                                <div class="deal-price">
                                    <p class="price">From <span>$@trip.Cost</span></p>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }

                @foreach(var hotel in Model.recomandedHotels.Take(3)){
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="slider-item">
                @foreach(var hotelImg in hotel.HotelImages.Take(1)){
                            <div class="slider-image">
                            <img src="@hotelImg.Path" alt="image">
                            </div>
             }

                            <div class="slider-content">
                                <a asp-action="SingleHotel" asp-controller="Hotels" asp-route-Id="@hotel.Id">
                                <h6 class="mar-bottom-10"><i class="fa fa-map-marker-alt"></i> @hotel.Location</h6>
                                <h4 class="mar-bottom-15">@hotel.Name</h4>
                                <div class="rate-rev mar-bottom-20">
                                    <span class="num-rating mar-right-5"><i class="fa-solid fa-star" style="color: #d30d0d;"></i> @hotel.StarRate /5</span>
                               
                                </div>  
                                <p>@hotel.Description</p>
                                @foreach(var price in hotel.HotelRoom.Take(1)){
                                <div class="deal-price">
                                    <p class="price">From <span>$@price.PricePerDay</span></p>
                                </div>
                                }
                                </a>
                            </div>
                        </div>
                    </div>
                }
                  
                </div>    

            </div>
        </div>
    </section>
    <!-- top deal ends -->

  
<script src="~/js/plugin.js"></script> 
 <script src="~/js/main.js"></script>
