@model Globe_Wander_Final.Models.DTOs.TourSpotDTO




@{
  
}
<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Preloader Ends -->
    <!-- header starts -->
    <!-- header ends -->
    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center" style="height:40vh !important">
        <div class="container">
            <div class="breadcrumb-content">
                <h2 class="white">Tour Details</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"></li>
                       
                    </ul>
                </nav>
            </div>
        </div>
    <div class="overlay">
            <img src="https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067_1280.png"width="100%" />
        </div>
    </section>
    <!-- BreadCrumb Ends -->
    <!-- hotel detail starts -->
    <div class="hotel-single-wrapper">
        <section class="hotel-single">
            <div class="container">
                <div class="row">
                    <div class="">
                        <div class="single-content">
                            <div class="single-title mar-bottom-30">
                                <h2>@Model.Name In @Model.City City</h2>
                             
                           
                            </div>
                    

                                <!-- blog review -->


                        </div>
                    </div>
                    <div class="description detail-box">
                        <div class="detail-title">
                            <h3>Description</h3>
                        </div>
                        <div class="description-content">
                            <p>
                        @Model.Description
                            </p>





                        </div>
                    </div>


                </div>
            </div>
       
        </section>
    </div>

    
    <!-- hotel detail Ends -->
    <!-- hotel-nearby starts -->
   
 
  


    <!-- tour list ends -->
    <!-- Recommended Hotels-->
    <section class="hotel-nearby bg-grey">
        <div class="container">
            <div class="section-title">
                <h2>Related <span>Hotels</span></h2>
                <p>this other hotels you might be intrested in </p>
            </div>
            <div class="row top-deal-slider">
                @foreach (var item in Model.Hotels)
                {
                    <div class="col-md-4">
                        <div class="trend-item">
                            <div class="trend-image">
                                @foreach (var image in item.HotelImages.Take(1))
                                {
                                    <img src="@image.Path" alt="@item.Name">
                                }
                                <div class="trend-tags">
                                    <a href="#"><i class="flaticon-like"></i></a>
                                </div>
                                <div class="trend-price">
                                    <p class="price">From <span></span></p>
                                </div>
                            </div>
                            <a asp-area="" asp-controller="Hotels" asp-action="SingleHotel" asp-route-id="@item.Id">
                                <div class="trend-content">
                                    <p><i class="flaticon-location-pin"></i> @item.Name</p>
                                    <h4>@item.Description</h4>
                                    <div class="rating mar-bottom-15">
                                        @for (int a = item.StarRate; a > 0; a--)
                                        {
                                            <span class="fa fa-star checked"></span>

                                        }

                                    </div>

                                    <p class="mar-0"><i class="fa fa-clock-o" aria-hidden="true"></i>@item.HotelRoom.Count.ToString() rooms</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!--Recommended Trips-->
    <section style="margin-top:25px" class="trending bg-grey" >
        <div class="container">
            <div class="section-title">
                <h2><span>Recommended</span> Trips</h2>
                <p>In Petra, visitors can explore intricately carved tombs and facades, hike through the narrow Siq gorge to reach the iconic Treasury, and enjoy panoramic views from the High Place of Sacrifice. Traditional activities like horseback riding and camel tours offer unique transportation options, providing a memorable journey through this ancient archaeological site. Petra offers a captivating glimpse into the rich history of the Nabatean Kingdom.</p>
            </div>
            <div class="row">
                @foreach (var trip in Model.Trips)
                {
                    <div class="col-md-6 col-sm-6 col-xs-12 mar-bottom-30">
                        <div class="trend-item">
                            
                            <div class="ribbon ribbon-top-left"><span>25% OFF</span></div>
                            <div class="trend-image">
                                @foreach(var img in trip.TripImages.Take(1)){
                                <img src="@img.Path" alt="image">
                                }
                                <div class="trend-tags">
                                    <a href="#"><i class="flaticon-like"></i></a>
                                </div>
                                <div class="trend-price">
                                    <p class="price">From <span>$ @trip.Cost</span></p>
                                </div>
                            </div>
                            <div class="trend-content">
                             <a asp-action="TripDetails" asp-controller="Trips" asp-route-id="@trip.Id">

                                <p><i class="flaticon-location-pin"></i> @trip.Activity</p>
                                <h4>@trip.Name</h4>
                       
                                @{
                                    int sum = 0;
                                    int avg = 0;
                                }
                                @foreach(var rate in trip.Rates){
                                    sum = sum +rate.Rating;
                                     
                                }
                               
                                @{
                                    if(trip.Rates.Count !=0)
                                        avg = sum / trip.Rates.Count;

                                }
                                @if (avg > 0)
                                {
                                    <span class="mar-left-5">@avg</span>
                                }
                                else
                                {
                                    <span class="mar-left-5">Not Rated</span>
                                }
                                <p class="mar-0"><i class="fa fa-clock-o" aria-hidden="true"></i>From @trip.StartDate To @trip.EndDate</p>
                                </a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>


    <!-- footer starts -->
    <!-- footer ends -->
    <!-- Back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->
    <!-- search popup -->
    <div id="search1">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>



    <!-- *Scripts* -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/color-switcher.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/custom-nav.js"></script>

</body>
</html>

<script src="~/js/plugin.js"></script> 
 <script src="~/js/main.js"></script>