@model Globe_Wander_Final.Models.ViewModels.HotelRoomandBooking
    <!-- header ends -->

    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center">
        <div class="container">
            <div class="breadcrumb-content">
                <h2 class="white">Hotel Booking</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hotel Booking</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->

    <!-- booking starts -->
    <section class="booking">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="price-tabmain">
                        <div class="price-navtab text-center mar-bottom-30">
                          
                        </div>    

                        <div class="tab-content">
                            <div id="customer" >
                                <div class="booking-box">
                                    <div class="customer-information">
                                        <h3>Let us know who you are</h3>
                                    <form method="post" asp-action="BookingForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>CHECK-IN</label>
                                                    <input asp-for="NewBookingRoomDTO.CheckIn" type="date" placeholder="YYYY-MM-DD" min="@DateTime.Now.ToString("yyyy-MM-dd")" >
                                                    <input asp-for=NewBookingRoomDTO.HotelID hidden type="number" value="@Model.HotelRoomDTO.HotelID">
                                                    <input asp-for=NewBookingRoomDTO.RoomNumber hidden type="number" value="@Model.HotelRoomDTO.RoomNumber">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    <label>CHECK-OUT</label>
                                                    <input asp-for=NewBookingRoomDTO.CheckOut type="date" placeholder="YYYY-MM-DD" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" >
                                                    </div>
                                                </div>
                                             
                                                <div class="col-md-12">
                                                    <div class="form-btn">
                                                    <button type="submit" class="biz-btn biz-btn1 mar-top-5">Book</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="booking-sidebar">
                        <div class="book-sidebar-title">
                            <div class="sidebar-videos about-slider">
                                <article class="post mar-bottom-20">
                                    <div class="content-image">
                                    @foreach (var image in Model.HotelRoomDTO.HotelRoomImages.Take(1))
                                    {
                                        <img src="@image.Path" alt="@Model.HotelRoomDTO.Rooms.Name">
                                    }
                                    </div>
                                    <div class="content-list mar-top-15">
                                        <div class="date mar-bottom-5">Jun 28, 2019</div>
                                        <h4 class="mar-0"><a href="blog-single.html">Takes on Baboon, and It Doesn’t Go Well for It</a></h4>
                                    </div>
                                    
                                </article>

                                
                            </div>
                        </div>
                        <div class="sidebar-booking">
                            <h4>Booking Detail</h4>
                            <table>
                                <tr>
                                    <td>Date</td>
                                    <td>01/08/2019</td>
                                </tr>
                                <tr>
                                    <td>Duration</td>
                                    <td>26 Days</td>
                                </tr>
                                <tr>
                                    <td>Tour Type</td>
                                    <td>Daily Tour</td>
                                </tr>
                            </table>
                        </div>
                        <div class="sidebar-payment">
                            <h4>Payment</h4>
                            <table>
                                <tr>
                                    <td>Adult Price</td>
                                    <td>$580.00</td>
                                </tr>
                                <tr>
                                    <td>Children Price</td>
                                    <td>$0.00</td>
                                </tr>
                                <tr>
                                    <td>Infant Price</td>
                                    <td>$0.00</td>
                                </tr>
                                <tr>
                                    <td>Subtotal</td>
                                    <td>$580.00</td>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td class="weight-600">Amount</td>
                                    <td class="weight-600">$580.00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- booking Ends -->

    <!-- footer starts -->
 
    <!-- footer ends -->

    <!-- Back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->

    <!-- search popup -->
