@model Globe_Wander_Final.Models.ViewModels.MyBookingsDTO





<section class="trending bg-grey">
    <div class="container">
        <div class="section-title">
            <h2><span>Booked</span> Hotels</h2>
            <p>this is the hotels that you are booked on know or the future.</p>
        </div>
        <div class="trend-box">
            <div class="row mix tour">
                @foreach (var bookingRoom in Model.BookingRoomDTO)

                {


                    @foreach (var hotelRoom in Model.HotelRoomDTO)
                    {       @if (bookingRoom.HotelID == hotelRoom.HotelID && hotelRoom.RoomNumber == bookingRoom.RoomNumber)
                        {

                            <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">

                                <div class="trend-item">


                                    <div class="trend-content">
                                        <div class="trend-image">
                                            <img src="@Model.HotelRoomDTO.Where(x=>x.HotelID==bookingRoom.HotelID).First().HotelRoomImages.First().Path" alt="image">
                                        </div>
                                        <h4> Hotel Name : @Model.HotelDTOs.Where(x=>x.Id==bookingRoom.HotelID).First().Name</h4>

                                        <h4> Room style  :  @Model.HotelRoomDTO.Where(x=>x.HotelID==bookingRoom.HotelID).First().Rooms.Name</h4>


                                        <h4> TotalPrice : @bookingRoom.TotalPrice $</h4>
                                        <h4> Duration: @bookingRoom.Duration  Days</h4>
                                        <h4>Cost preDay : @bookingRoom.Cost $</h4>

                                        <h4> CheckIn : @bookingRoom.CheckIn</h4>
                                        <h4>CheckOut : @bookingRoom.CheckOut</h4>
                                        <a class="biz-btn-black" asp-area="" asp-controller="BookingRooms" asp-action="UserUpdateBooking" asp-route-ID="@bookingRoom.ID">Update</a>
                                        <a class="biz-btn" asp-area="" asp-controller="BookingRooms" asp-action="UserDeleteBooking" asp-route-ID="@bookingRoom.ID">Delete</a>


                                    </div>


                                </div>

                            </div>

                        }
                    }
                }
            </div>
        </div>
    </div>
</section>

<section class="trending bg-grey">
    <div class="container">
        <div class="section-title">
            <h2><span>Booked</span> Trips</h2>
            <p>this is the trips that you are booked on know or the future.</p>
        </div>
        <div class="trend-box">
            <div class="row mix tour">
                @foreach (var bookingTrip in Model.BookingTripDTO)

                {




                    <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">

                        <div class="trend-item">


                            <div class="trend-content">
                                <div class="trend-image">
                                    <img src="@Model.TripDTOs.Where(x=>x.Id==bookingTrip.TripID).First().TripImages.First().Path" alt="image">
                                </div>
                                <h4> Trip Name : @Model.TripDTOs.Where(x=>x.Id==bookingTrip.TripID).First().Name</h4>

                                <h4> TotalPrice : @bookingTrip.TotalPrice $</h4>
                                <h4> #No. Persons: @bookingTrip.NumberOfPersons  </h4>
                                <h4>Activity:  @Model.TripDTOs.Where(x=>x.Id==bookingTrip.TripID).First().Activity </h4>
                                <h4>Cost preDay : @bookingTrip.CostPerPerson $</h4>
                                <h4> CheckIn : @bookingTrip.StartDate</h4>
                                <h4>CheckOut : @bookingTrip.EndDate</h4>

                                @if (DateTime.Now <= bookingTrip.StartDate){

                                    <a class="biz-btn-black" asp-area="" asp-controller="BookingTrips" asp-action="UserUpdateBooking" asp-route-ID="@bookingTrip.ID">Update</a>
                                }  <a class="biz-btn" asp-area="" asp-controller="BookingTrips" asp-action="UserDeleteBooking" asp-route-ID="@bookingTrip.ID">Delete</a>
                              

                            </div>


                        </div>

                    </div>


                }
            </div>
        </div>
    </div>
</section>