@using X.PagedList.Mvc.Core
@using Globe_Wander_Final.Models.DTOs
@model X.PagedList.PagedList<RoomDTO>
@{
}
@{
    Layout = "_DashboardLayout";
}
<div id="preloader">
    <div id="status"></div>
</div>
<div id="container-wrapper">
    <!-- Dashboard -->
    <div id="dashboard">
        <div class="dashboard-content">
            <div class="list-outer">
                @* this should be responsive *@
                @foreach (var item in Model)
                {
                    <div class="list-item-1">
                        <div class="row display-flex">
                            <div class="col-md-4 col-sm-12">
                                <div class="list-content ps-4">
                                    <h3>@item.Name</h3>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <p class="fw-semibold fs-5">
                                     @item.Layout.ToString()
                                </p>
                                @foreach (var amenity in item.RoomAmenities)
                                {
                                    <div class="facilities mx-2">

                                        @amenity.Amenity.Name
                                    </div>
                                }
                            </div>
                        <div class="col-md-2 col-sm-12">
                            <a asp-controller="Rooms" asp-action="EditRoom" asp-route-id="@item.ID" class="biz-btn biz-btn1 mar-top-5">Edit</a>
                            <form method="post" asp-controller="Rooms" asp-action="DeleteRoom">
                                <input type="hidden" name="id" value="@item.ID" />
                                <button type="submit" class="biz-btn biz-btn1 mar-top-5">Delete</button>
                            </form>
                        </div>
                        </div>
                    </div>
                }
                <div class="pagination-content text-center d-flex justify-content-center">
                    <ul class="pagination">
                        <li>
                            @Html.PagedListPager(Model, page => Url.Action("ListRooms", new { page }))
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end Container Wrapper -->
</div>
