@using X.PagedList.Mvc.Core
@using Globe_Wander_Final.Models.DTOs
@model X.PagedList.PagedList<TripDTO>

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Preloader Ends -->
<!-- Breadcrumb -->
<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2 class="white">Trips</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Trips</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- BreadCrumb Ends -->
<!-- flight-list starts -->
<section class="list flight-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="content">
                    <div class="list-results display-flex space-between">
                        <div class="list-results-sort display-flex">
                            <div class="form-group display-flex mar-bottom-0 mar-right-20">
                                <label>Sort By Ranking</label>
                                <div class="input-box">
                                    <select class="niceSelect">
                                        <option value="1">0</option>
                                        <option value="2">1</option>
                                        <option value="3">2</option>
                                        <option value="4">3</option>
                                        <option value="5">4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group display-flex mar-bottom-0 ">
                                <label>Sort By Price</label>
                                <div class="input-box">
                                    <select class="niceSelect">
                                        <option value="1">$50</option>
                                        <option value="2">$100</option>
                                        <option value="3">$150</option>
                                        <option value="4">$200</option>
                                        <option value="5">$250</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="click-menu pull-right">
                            <div class="change-list mar-right-10"><a href="flightlist-1.html"><i class="fa fa-bars"></i></a></div>
                            <div class="change-grid f-active"><a href="flightlist.html"><i class="fa fa-th"></i></a></div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            var total = item.Capacity - item.Count;
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="ticket-item list-ticket">
                                    <div class="ticket-image">
                                        @foreach (var image in item.TripImages.Take(1))
                                        {
                                            <img src="@image.Path" alt="@item.Name">
                                        }
                                    </div>
                                    <div class="flight-content">
                                        <div class="ticket-content">
                                            <div class="ticket-title">
                                                <p class="price mar-bottom-5">@item.Id</p>
                                                <h3 class="mar-0">@item.Name</h3>

                                            </div>
                                            <div class="ticket-btn mar-top-5">
                                                <p class="price mar-0"><span class="bold">$@item.Cost</span> avg/person</p>
                                            </div>
                                            <div class="my-1">
                                                <p class="title">Maximum travellers</p>
                                                <p><i class="fa fa-user" aria-hidden="true"></i> @item.Capacity</p>
                                            </div>
                                            <div class="my-1">
                                                <p class="title">Maximum travellers</p>
                                                <p><i class="fa fa-user" aria-hidden="true">@total</i></p>
                                            </div>
                                        </div>
                                        <div class="landing display-flex">
                                            <div class="icon">
                                                <i class="fa fa-plane" aria-hidden="true"></i>
                                            </div>
                                            <div class="content">
                                                <p class="bold">Start</p>
                                                <p>@item.StartDate</p>
                                            </div>
                                        </div>
                                        <div class="landing display-flex">
                                            <div class="icon landing-icon">
                                                <i class="fa fa-plane" aria-hidden="true"></i>
                                            </div>
                                            <div class="content">
                                                <p class="bold">End</p>
                                                <p>@item.EndDate</p>
                                            </div>
                                        </div>
                                        <div class="flight-btn text-center">
                                            <a class="biz-btn biz-btn1 mar-right-10" asp-controller="Trips" asp-action="TripDetails" asp-route-id="@item.Id">Trip Details</a>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <a class="biz-btn-black" asp-controller="BookingTrips" asp-action="BookingForm" asp-route-TripID="@item.Id">Booking</a>
                                            }
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        }
                    </div>
                    <div class="pagination-content text-center d-flex justify-content-center">
                        <ul class="pagination">
                            <li>
                                @Html.PagedListPager(Model, page => Url.Action("Trips", new { page }))
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






