@model IEnumerable<Globe_Wander_Final.Models.DTOs.HotelDTO>

<!--remove-->

    <!--remove end-->
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Preloader Ends -->
    <!-- header starts -->
  
    <!-- header ends -->
    <!-- banner starts -->
    <section class="banner ver-banner">
        <div class="slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach(var item in Model.Take(3)){
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            @foreach (var image in item.HotelImages.Take(1))
                            {
                              
                                <div class="slide-image" style="background-image:url(@image.Path)"></div>
                            }

                      
                            <div class="swiper-content">
                                <h1>Welcome to <span>@item.Name Hotel</span></h1>
                                <p class="mar-bottom-30">@item.Description </p>
                                  <a asp-area="" asp-controller="Hotels" asp-action="SingleHotel" asp-route-id="@item.Id"  class ="biz-btn">Explore More</a>
                           
                            </div>
                            <div class="overlay"></div>
                        </div>
                    </div>}
               
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    <div class="border-line" style="background-image: url();"></div>
    </section>
    <!-- banner ends -->
    <!-- form starts -->

    <!-- form ends -->
    <!-- partners starts -->
   
    <!-- partners ends -->
   
<!-- Trending Starts -->
<section class="trending bg-grey">
    <div class="container">
        <div class="section-title">
            <h2><span>Recommended</span> Hotels</h2>
            <p>this a re the hotels that you can book from our website.</p>
        </div>
        <div class="trend-box">
            <div class="row mix tour">
                @foreach(var item in Model){


                   
                    <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">
               
                     <div class="trend-item">
                        
                        <div class="trend-image">
                                @foreach (var image in item.HotelImages.Take(1))
                                {
                                    <img src="@image.Path" alt="@item.Name">
                                }

                        </div>
                      <a asp-area="" asp-controller="Hotels" asp-action="SingleHotel" asp-route-id="@item.Id">  
                          <div class="trend-content">
                            <p><i class="flaticon-location-pin"></i> @item.Name</p>
                                <h4> @item.Description</h4>
                                <p>
                                   
                                </p>
                            <div class="rating mar-bottom-15">
                                        @for (int a = item.StarRate;a > 0;a--)
                                {
                                <span class="fa fa-star checked"></span>
                                
                                }
                          
                            </div>
                           
                            <p class="mar-0"><i class="fa fa-clock-o" aria-hidden="true"></i> @item.HotelRoom.Where(x=>x.IsAvailable == true).Count().ToString() rooms are available</p>
                                </div>
                            </a>
                    </div> 
                        </div>
            
           }
              
            </div>
        </div>
    </div>
</section>
<!-- Trending Ends -->
    <!-- Rooms starts -->
    <section class="rooms">
        <div class="container">
            <div class="section-title">
                <h2>Explore <span>Rooms</span></h2>
            <p>this a re the Rooms that you can book from our website.</p>
            </div>
            <div class="room-outer">
                <div class="row">
                    @foreach(var items in Model ){
                    @foreach (var item in items.HotelRoom)
                    {
                    
                            <div class="col-md-4 col-sm-12 col-xs-12">
                            <a asp-area="" asp-controller="HotelRooms" asp-action="SingleRoom" asp-route-Id="@item.HotelID" asp-route-RoomNumber="@item.RoomNumber">
                                <div class="room-item">
                                <div class="room-image">
                                        @foreach (var image in item.HotelRoomImages.Take(1))
                                        {
                                            <img src="@image.Path" alt="@item.Rooms.Name">
                                        }

                                    </div>
                                <div class="room-content1">
                                    <div class="room-title">
                                            <h3>@items.Name</h3>
                                            <h3>@item.Rooms.Name</h3>
                                        <p>@item.PricePerDay</p>
                                      
                                    </div>
                                    <div class="room-services mar-bottom-15">
                                        <ul>
                                            <li><i class="fa fa-bed" aria-hidden="true"></i>@item.Rooms.Layout</li>
                                          
                                        </ul>
                                    </div>
                                  
                                    <div class="room-btns mar-top-20">

                                            <a asp-area="" asp-controller="HotelRooms" asp-action="SingleRoom" asp-route-Id="@item.HotelID" asp-route-RoomNumber="@item.RoomNumber" class="biz-btn-black">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    }

                }
            </div>
            </div>
        </div>
    </section>
    <!-- Room Ends -->
<!-- why us starts -->
<section class="why-us hotel-why-us">
    <div class="container">
        <div class="why-us-box">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="why-us-item why-us-item1 text-center">
                        <div class="why-us-icon">
                            <i class="flaticon-call"></i>
                        </div>
                        <div class="why-us-content">
                            <h4>Advice & Support</h4>
                            <p class="mar-0">you cancontact us in any day at any time you want</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="why-us-item why-us-item1 text-center">
                        <div class="why-us-icon">
                            <i class="flaticon-global"></i>
                        </div>
                        <div class="why-us-content">
                            <h4>Air Ticketing</h4>
                            <p class="mar-0">Travel worry free knowing that we're here if you need us, 24 hours a day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="why-us-item why-us-item1 text-center">
                        <div class="why-us-icon">
                            <i class="flaticon-building"></i>
                        </div>
                        <div class="why-us-content">
                            <h4>Hotel Accomodation</h4>
                            <p class="mar-0">you can book any hotel room you want and update it , 24 hours a day</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- why us ends -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->

<!--remove end-->