@model Globe_Wander_Final.Models.ViewModels.UpdateTripBooking
    <!-- header ends -->

    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center">
        <div class="container">
            <div class="breadcrumb-content">
                <h2 class="white">Trip Booking</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Trip Booking</li>
                    </ul>
                </nav>
            </div>
        </div>
    <img style="object-fit:cover;" class="overlay" src="https://globewanderimages.blob.core.windows.net/globe-wander-images/pannertrip.jpg" alt="image" />
    </section>
    <!-- BreadCrumb Ends -->
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
    <!-- booking starts -->
    <section class="booking">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="price-tabmain">
                        <div class="price-navtab text-center mar-bottom-30">
                          
                        </div>    

                        <div class="tab-content">
                            <div id="customer" >
                                <div class="booking-box">
                                    <div class="customer-information">
                                        <h3>Let us know who you are</h3>
                                    <form method="post" asp-action="UserUpdateBooking">
                                         
                                        @if (Model.bookingTripDTO.StartDate <= DateTime.Now)
                                        {

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Start-Date</label>
                                                        <input asp-for="updateBooking.StartDate" type="date" hidden value="@Model.bookingTripDTO.StartDate">
                                                        <p>You cant change the Start Date time </p>
                                                        <input asp-for=updateBooking.ID hidden type="number" value="@Model.bookingTripDTO.ID">
                                                        <input asp-for=updateBooking.NumberOfPersons hidden type="number" value="@Model.bookingTripDTO.NumberOfPersons">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>End-Date</label>
                                                        <input asp-for=updateBooking.EndDate type="date" placeholder="YYYY-MM-DD" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-btn">
                                                        <button type="submit" class="biz-btn biz-btn1 mar-top-5">Book</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Start-Date</label>
                                                        <input asp-for="updateBooking.StartDate" type="date" placeholder="YYYY-MM-DD" min="@DateTime.Now.ToString("yyyy-MM-dd")" id="CheckIn">

                                                        <input asp-for=updateBooking.ID hidden type="number" value="@Model.bookingTripDTO.ID">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>End-Date</label>
                                                        <input asp-for=updateBooking.EndDate type="date" placeholder="YYYY-MM-DD" id="CheckOut">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label># NO. PERSONS</label>
                                                        <input asp-for=updateBooking.NumberOfPersons type="number" placeholder="1"  min="1">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-btn">
                                                        <button type="submit" class="biz-btn biz-btn1 mar-top-5">Book</button>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                    </form>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>

           
            </div>
    </div>
      
    </section>
    <!-- booking Ends -->

 
    <!-- Back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->

    <!-- search popup -->
<script>
    var CheckIn = document.getElementById("CheckIn");
    var CheckOut = document.getElementById("CheckOut");

    CheckIn.addEventListener("change", function () {
        var checkInDate = new Date(CheckIn.value);
        var nextDay = new Date(checkInDate);
        nextDay.setDate(checkInDate.getDate() + 1);

        var year = nextDay.getFullYear();
        var month = String(nextDay.getMonth() + 1).padStart(2, '0');
        var day = String(nextDay.getDate()).padStart(2, '0');

        var formattedDate = year + '-' + month + '-' + day;
        CheckOut.min = formattedDate;
    });
</script>
